# SPDX-License-Identifier: MIT
openapi: 3.0.3
info:
  title: OpenWeatherMap 5 Day / 3 Hour Forecast API (Draft)
  version: 0.2.0-draft
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: |
    Draft specification for OpenWeatherMap 5 day / 3 hour forecast API.
    Source: official OpenWeather Forecast documentation.
servers:
  - url: https://api.openweathermap.org
    description: OpenWeather production API
security:
  - AppIdQueryAuth: []
paths:
  /data/2.5/forecast:
    get:
      operationId: getForecast5Day3Hour
      summary: 5 day / 3 hour forecast
      description: |
        Returns weather forecast data in 3-hour steps.
        Exactly one location selector is required: lat/lon pair, q, id, or zip.
      parameters:
        - $ref: '#/components/parameters/LatOptional'
        - $ref: '#/components/parameters/LonOptional'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/CityId'
        - $ref: '#/components/parameters/Zip'
        - $ref: '#/components/parameters/Units'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/Cnt'
        - $ref: '#/components/parameters/Mode'
      responses:
        '200':
          description: Forecast returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    AppIdQueryAuth:
      type: apiKey
      in: query
      name: appid

  parameters:
    LatOptional:
      name: lat
      in: query
      required: false
      description: Latitude in decimal degrees.
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    LonOptional:
      name: lon
      in: query
      required: false
      description: Longitude in decimal degrees.
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
    Q:
      name: q
      in: query
      required: false
      description: City name, state code (optional), country code (optional).
      schema:
        type: string
    CityId:
      name: id
      in: query
      required: false
      description: Internal OpenWeather city ID.
      schema:
        type: integer
        format: int64
    Zip:
      name: zip
      in: query
      required: false
      description: ZIP or postal code, optionally with country code (e.g. 94040,US).
      schema:
        type: string
    Units:
      name: units
      in: query
      required: false
      description: Units of measurement.
      schema:
        $ref: '#/components/schemas/Units'
    Lang:
      name: lang
      in: query
      required: false
      description: Language code for localized weather descriptions.
      schema:
        type: string
    Cnt:
      name: cnt
      in: query
      required: false
      description: Number of timestamps in the API response.
      schema:
        type: integer
        minimum: 1
        maximum: 40
    Mode:
      name: mode
      in: query
      required: false
      description: Response format.
      schema:
        type: string
        enum: [json, xml, html]

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: No data found for requested parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Request quota exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Server-side error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    Units:
      type: string
      enum: [standard, metric, imperial]

    ErrorResponse:
      type: object
      required: [cod, message]
      properties:
        cod:
          oneOf:
            - type: integer
            - type: string
        message:
          type: string

    Coordinates:
      type: object
      required: [lon, lat]
      properties:
        lon:
          type: number
          format: double
        lat:
          type: number
          format: double

    WeatherCondition:
      type: object
      required: [id, main, description, icon]
      properties:
        id:
          type: integer
        main:
          type: string
        description:
          type: string
        icon:
          type: string

    ForecastMain:
      type: object
      required: [temp, feels_like, temp_min, temp_max, pressure, sea_level, grnd_level, humidity, temp_kf]
      properties:
        temp:
          type: number
          format: double
        feels_like:
          type: number
          format: double
        temp_min:
          type: number
          format: double
        temp_max:
          type: number
          format: double
        pressure:
          type: integer
        sea_level:
          type: integer
        grnd_level:
          type: integer
        humidity:
          type: integer
        temp_kf:
          type: number
          format: double

    Clouds:
      type: object
      properties:
        all:
          type: integer

    Wind:
      type: object
      properties:
        speed:
          type: number
          format: double
        deg:
          type: integer
        gust:
          type: number
          format: double

    Rain:
      type: object
      properties:
        '3h':
          type: number
          format: double

    Snow:
      type: object
      properties:
        '3h':
          type: number
          format: double

    ForecastSys:
      type: object
      properties:
        pod:
          type: string
          description: Part of day (d for day, n for night).

    ForecastItem:
      type: object
      required: [dt, main, weather, clouds, wind, visibility, pop, sys, dt_txt]
      properties:
        dt:
          type: integer
          format: int64
        main:
          $ref: '#/components/schemas/ForecastMain'
        weather:
          type: array
          items:
            $ref: '#/components/schemas/WeatherCondition'
        clouds:
          $ref: '#/components/schemas/Clouds'
        wind:
          $ref: '#/components/schemas/Wind'
        visibility:
          type: integer
        pop:
          type: number
          format: double
        rain:
          $ref: '#/components/schemas/Rain'
        snow:
          $ref: '#/components/schemas/Snow'
        sys:
          $ref: '#/components/schemas/ForecastSys'
        dt_txt:
          type: string

    CityInfo:
      type: object
      required: [id, name, coord, country, timezone, sunrise, sunset]
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        coord:
          $ref: '#/components/schemas/Coordinates'
        country:
          type: string
        population:
          type: integer
        timezone:
          type: integer
        sunrise:
          type: integer
          format: int64
        sunset:
          type: integer
          format: int64

    ForecastResponse:
      type: object
      required: [cod, message, cnt, list, city]
      properties:
        cod:
          type: string
        message:
          type: number
          format: double
        cnt:
          type: integer
        list:
          type: array
          items:
            $ref: '#/components/schemas/ForecastItem'
        city:
          $ref: '#/components/schemas/CityInfo'
