openapi: 3.0.3
info:
  title: OpenWeatherMap One Call 3.0 API (Draft)
  version: 0.2.0-draft
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: |
    Draft OpenAPI specification for core OpenWeatherMap One Call 3.0 weather endpoints.
    Source: official OpenWeather One Call 3.0 documentation.
servers:
  - url: https://api.openweathermap.org
    description: OpenWeather production API
security:
  - AppIdQueryAuth: []
paths:
  /data/3.0/onecall:
    get:
      operationId: getCurrentAndForecast
      summary: Current weather and forecasts
      description: Returns current weather, minutely (1 hour), hourly (48 hours), daily (8 days), and alerts.
      parameters:
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Units'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          description: Weather data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneCallResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'

  /data/3.0/onecall/timemachine:
    get:
      operationId: getWeatherForTimestamp
      summary: Weather data for a specific timestamp
      description: Returns weather data for one specified UNIX timestamp.
      parameters:
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Dt'
        - $ref: '#/components/parameters/Units'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          description: Historical or near-future weather data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeMachineResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'

  /data/3.0/onecall/day_summary:
    get:
      operationId: getDaySummary
      summary: Daily aggregation
      description: Returns aggregated weather metrics for a given date.
      parameters:
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/Date'
        - $ref: '#/components/parameters/Tz'
        - $ref: '#/components/parameters/Units'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          description: Daily summary returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaySummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'

  /data/3.0/onecall/overview:
    get:
      operationId: getWeatherOverview
      summary: AI weather overview
      description: Returns a human-readable weather summary for today or tomorrow.
      parameters:
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lon'
        - $ref: '#/components/parameters/DateOptional'
        - $ref: '#/components/parameters/Units'
      responses:
        '200':
          description: Weather overview returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    AppIdQueryAuth:
      type: apiKey
      in: query
      name: appid

  parameters:
    Lat:
      name: lat
      in: query
      required: true
      description: Latitude in decimal degrees.
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    Lon:
      name: lon
      in: query
      required: true
      description: Longitude in decimal degrees.
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
    Units:
      name: units
      in: query
      required: false
      description: Units of measurement.
      schema:
        $ref: '#/components/schemas/Units'
    Lang:
      name: lang
      in: query
      required: false
      description: Language code for localized weather descriptions.
      schema:
        type: string
    Exclude:
      name: exclude
      in: query
      required: false
      description: Comma-delimited parts to exclude from response.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum: [current, minutely, hourly, daily, alerts]
    Dt:
      name: dt
      in: query
      required: true
      description: UNIX timestamp (UTC). Available from 1979-01-01 through 4 days ahead.
      schema:
        type: integer
        format: int64
        minimum: 283996800
    Date:
      name: date
      in: query
      required: true
      description: Date in YYYY-MM-DD format.
      schema:
        type: string
        format: date
    DateOptional:
      name: date
      in: query
      required: false
      description: Date in YYYY-MM-DD format. For overview endpoint, supports today/tomorrow.
      schema:
        type: string
        format: date
    Tz:
      name: tz
      in: query
      required: false
      description: Optional timezone override in ±HH:MM format.
      schema:
        type: string
        pattern: '^[+-](0[0-9]|1[0-4]):[0-5][0-9]$'

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: No data found for requested parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Request quota exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Server-side error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    Units:
      type: string
      enum: [standard, metric, imperial]

    ErrorResponse:
      type: object
      required: [cod, message]
      properties:
        cod:
          type: integer
        message:
          type: string
        parameters:
          type: array
          items:
            type: string

    WeatherCondition:
      type: object
      required: [id, main, description, icon]
      properties:
        id:
          type: integer
        main:
          type: string
        description:
          type: string
        icon:
          type: string

    PrecipitationOneHour:
      type: object
      properties:
        1h:
          type: number
          format: double

    CurrentData:
      type: object
      required: [dt, temp, pressure, humidity, clouds, visibility, wind_speed, wind_deg, weather]
      properties:
        dt:
          type: integer
          format: int64
        sunrise:
          type: integer
          format: int64
        sunset:
          type: integer
          format: int64
        temp:
          type: number
          format: double
        feels_like:
          type: number
          format: double
        pressure:
          type: integer
        humidity:
          type: integer
        dew_point:
          type: number
          format: double
        uvi:
          type: number
          format: double
        clouds:
          type: integer
        visibility:
          type: integer
        wind_speed:
          type: number
          format: double
        wind_gust:
          type: number
          format: double
        wind_deg:
          type: integer
        rain:
          $ref: '#/components/schemas/PrecipitationOneHour'
        snow:
          $ref: '#/components/schemas/PrecipitationOneHour'
        weather:
          type: array
          items:
            $ref: '#/components/schemas/WeatherCondition'

    MinutelyData:
      type: object
      required: [dt, precipitation]
      properties:
        dt:
          type: integer
          format: int64
        precipitation:
          type: number
          format: double

    HourlyData:
      allOf:
        - $ref: '#/components/schemas/CurrentData'
        - type: object
          properties:
            pop:
              type: number
              format: double
              minimum: 0
              maximum: 1

    DailyTemperature:
      type: object
      properties:
        morn:
          type: number
          format: double
        day:
          type: number
          format: double
        eve:
          type: number
          format: double
        night:
          type: number
          format: double
        min:
          type: number
          format: double
        max:
          type: number
          format: double

    DailyFeelsLike:
      type: object
      properties:
        morn:
          type: number
          format: double
        day:
          type: number
          format: double
        eve:
          type: number
          format: double
        night:
          type: number
          format: double

    DailyData:
      type: object
      required: [dt, pressure, humidity, wind_speed, wind_deg, weather]
      properties:
        dt:
          type: integer
          format: int64
        sunrise:
          type: integer
          format: int64
        sunset:
          type: integer
          format: int64
        moonrise:
          type: integer
          format: int64
        moonset:
          type: integer
          format: int64
        moon_phase:
          type: number
          format: double
        summary:
          type: string
        temp:
          $ref: '#/components/schemas/DailyTemperature'
        feels_like:
          $ref: '#/components/schemas/DailyFeelsLike'
        pressure:
          type: integer
        humidity:
          type: integer
        dew_point:
          type: number
          format: double
        wind_speed:
          type: number
          format: double
        wind_gust:
          type: number
          format: double
        wind_deg:
          type: integer
        clouds:
          type: integer
        uvi:
          type: number
          format: double
        pop:
          type: number
          format: double
          minimum: 0
          maximum: 1
        rain:
          type: number
          format: double
        snow:
          type: number
          format: double
        weather:
          type: array
          items:
            $ref: '#/components/schemas/WeatherCondition'

    Alert:
      type: object
      properties:
        sender_name:
          type: string
        event:
          type: string
        start:
          type: integer
          format: int64
        end:
          type: integer
          format: int64
        description:
          type: string
        tags:
          type: array
          items:
            type: string

    OneCallResponse:
      type: object
      required: [lat, lon, timezone, timezone_offset]
      properties:
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        timezone:
          type: string
        timezone_offset:
          type: integer
        current:
          $ref: '#/components/schemas/CurrentData'
        minutely:
          type: array
          items:
            $ref: '#/components/schemas/MinutelyData'
        hourly:
          type: array
          items:
            $ref: '#/components/schemas/HourlyData'
        daily:
          type: array
          items:
            $ref: '#/components/schemas/DailyData'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'

    TimeMachineData:
      allOf:
        - $ref: '#/components/schemas/CurrentData'

    TimeMachineResponse:
      type: object
      required: [lat, lon, timezone, timezone_offset, data]
      properties:
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        timezone:
          type: string
        timezone_offset:
          type: integer
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TimeMachineData'

    DaySummaryPointValue:
      type: object
      properties:
        afternoon:
          type: number
          format: double

    DaySummaryTemperature:
      type: object
      properties:
        min:
          type: number
          format: double
        max:
          type: number
          format: double
        morning:
          type: number
          format: double
        afternoon:
          type: number
          format: double
        evening:
          type: number
          format: double
        night:
          type: number
          format: double

    DaySummaryWindMax:
      type: object
      properties:
        speed:
          type: number
          format: double
        direction:
          type: integer

    DaySummaryResponse:
      type: object
      required: [lat, lon, tz, date, units]
      properties:
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        tz:
          type: string
        date:
          type: string
          format: date
        units:
          $ref: '#/components/schemas/Units'
        cloud_cover:
          $ref: '#/components/schemas/DaySummaryPointValue'
        humidity:
          $ref: '#/components/schemas/DaySummaryPointValue'
        precipitation:
          type: object
          properties:
            total:
              type: number
              format: double
        pressure:
          $ref: '#/components/schemas/DaySummaryPointValue'
        temperature:
          $ref: '#/components/schemas/DaySummaryTemperature'
        wind:
          type: object
          properties:
            max:
              $ref: '#/components/schemas/DaySummaryWindMax'

    WeatherOverviewResponse:
      type: object
      required: [lat, lon, tz, date, units, weather_overview]
      properties:
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        tz:
          type: string
        date:
          type: string
          format: date
        units:
          $ref: '#/components/schemas/Units'
        weather_overview:
          type: string
